body{
     font-family: 'Roboto', sans-serif;
     background-color: #D5D5D5;
}


.main-nav{
     display: flex;  
     justify-content: space-evenly;
     background-color: black;
     
}
.Titulo{
position:relative;
left:835px;
top:115px;
}

.Titulo2{
     position: relative;
     left:725px;
     top:130px
}

.box{
     color:white;
}
.datos{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -150px;
    right: 10px;
    z-index: 12;
    color: white;
    margin-top: 5px;
}
.icon2{
     margin-right: 5px;
     
}

.iconsearch{
     position: relative;
     z-index: 10;
     left: 1200px;
     top:-20px;
     
     color: white;

}

.icon{
     height: 20px;
     width: 15px;
     margin-right: 10px;
}

.search{
    width: 25%;
    font-size: 16px;
    color: #757575;
    padding: 0 0 0 20px;
    border-radius: 5px;
    height: 40px;
    margin-left: 550px;
    position: relative;
    top: -60px;
}






.login{ 
     border: solid 0px;
     box-sizing: border-box;
     width: 400px;
     height: 300px;
     border-radius:  15px;
     padding-top: 22px;
     padding-left:60px ;
     position: relative;
     top: 130px;
     left: 725px;
     background-color:white;
}
.registro{ 
     border: solid 0px;
     box-sizing: border-box;
     width: 400px;
     height: 350px;
     border-radius:  15px;
     padding-top: 22px;
     padding-left:60px ;
     position: relative;
     top: 130px;
     left: 600px;
     background-color:white;
}

input{
     margin-top: 10px;
     margin-bottom: 10px;
     width:275px ;
     border-radius: 5px;
}



label{
     text-align: center;
}

.clave{
     color:cornflowerblue;
}

.encabezado{
     background-size: auto;
     background-color: black;
     height: 150px;
     position: relative;
     z-index: 10;
     width: 100%;
}


.img{
     height: 150px;
     background-color: black;
}


.boton{
     width: 80px; 
}



.checkbox{
     width: 15px;
}



.recompensas{
     border: solid 3px gold;
     width: 500px;
     text-align: center;
     position: relative;
     margin-top:10px;
     left: 1200px;
     top: -160px;
     border-radius: 10px;
}

.cart-main-article{
     display: flex;
     justify-content: space-evenly;
     border-bottom: solid 1px gray;
     box-sizing: border-box;
     width: 70%;
}

.cart-subarticle-producto{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
}

.cart-subarticle-cantidad{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     position: relative;
     top: -53px;
}

.cart-subarticle-precio{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     position: relative;
     top: -53px;
}

.cart-subarticle-subtotal{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     position: relative;
     top: -53px;
}

.cart-subarticle-eliminar{
     display:flex;
     align-items: center;
}

.cart-subarticle-eliminar-img{
     width: 14%;
     height: auto;
}


.d-flex {
     display: flex;
}

.justify-evenly {
     
     justify-content: space-evenly;
}

.f-column {
     flex-direction: column;
}

.justify-center {
     justify-content: center;
}

.products-container1 {
     display: flex;
     justify-content: space-evenly;
}
     
.products-main-article1 {
     display: flex;
     border: 2px solid grey;
     width: 70%;
     padding: 30px ;
 
}

.products-subarticle-img {
    
     height: 300px;
     border: 1px solid black;
}

.products-subarticle-productdata {
     padding: 30px;
     height: 240px;
     border: 1px solid black;
     flex-grow: 1;
     text-align: center;
}


.products-font-cantidad {
     font-size: 15px;
     color: grey;
}

.products-font-precio {
     font-size: 26px;
     color: green;
     margin: 12px;
}


.icon-blue {
     font-size: 20px;
     color: darkblue;
}

.buy-button {
     background-color: lightblue;
     display: inline;
     padding: 10px;
     border: 1px solid;
     border-radius: 6px;
}

footer{
     background-color: black;
     ;
     background-size: auto;
     height: 175px;
     position: relative;
     top:200px;
    display:flex
     

}
.categorias{
     color:white;
     
}
.Ayuda{
     color: white;
}

.Home{
     height: 300px;
     
}

.NuestrasMarcas{
     display:flex;
     justify-content: center;
     border: solid 0px;
     border-radius: 5px;
     background-color:white;
     padding: 20px;
     width: 100%;
}

.titulo-1{
     
     text-align: center;
     margin-top: 50px;
     margin-bottom: 30px;

}

.Marcas{
     height: 200px;
     width: 200px;
     margin-left: 50px;
    
     
     

}
     


.search-home{
     width: 25%;
    font-size: 16px;
    color: #757575;
    padding: 0 0 0 20px;
    border-radius: 5px;
    height: 40px;
    margin-left: 550px;
    position: relative;
    top: 15px;


}

.home-products{
     height: 200px;
     width: 200px;
     margin-left: 50px;


}

.home-products-flex{
     display:flex;
     justify-content: center;

}

.articulo{
     border: solid 0px;
     background-color: white;
     border-radius: 7px;
     margin-left: 50px;
     height: 250px;
     
     

}

.precios{
     margin-left: 20px;
     margin-top: 20px;
}

.fas{
     margin-left: 40px;
}