<!DOCTYPE html>
<html lang="en">
<head>
     <title>Bienvenido al carrito</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/css/style.css" rel="stylesheet">
</head>
<body>
     <header>
          <div class="encabezado"> <img class ="img" src="/img/Boceto-Logo1.jpg" alt="Site logo"> </div>
          <nav class="main-nav">
               <div><a href="/">Inicio</a></div>
               <div><a href="/register">Registrarse</a></div>
               <div><a href="/login">Iniciar Sesión</a></div>
               <div><a href="/products">Productos</a></div>
               <div><a href="/cart">Carrito</a></div>
          </nav>
          <h1>Carrito de compras</h1>
     </header>

     <main>
          <article class="cart-main-article">
               <article class="cart-subarticle-producto">
                    <h2>Producto</h2>
                    <div> <img src="/img/Vino.png" alt="Product logo"> </div>
                    <p>Vino Fond De Cave</p>
               </article>
               <article class="cart-subarticle-cantidad">
                    <h2>Cantidad</h2>

               </article>
               <article class="cart-subarticle-precio">
                    
               </article>
               <article class="cart-subarticle-subtotal">
                    
               </article>
          </article>
     </main>

     <footer>

     </footer>
</body>
</html>