<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bienvenido al Home</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <link href="/css/style.css" rel="stylesheet">
     
    
     
</head>
<body>
     <header>
          <div class="encabezado"> 
               <img class ="img" src="/img/drinkstorelogo4.png" alt="Site logo">
               <input class="search" type="search" placeholder="Buscar Productos y Mas">
              
          
          
               </div> 
           </div>
          <nav class="main-nav">
               <div><a class="box"href="/"><i class="fas fa-home icon"></i>Inicio</a></div>
               <div><a class="box"href="/register"><i class="fas fa-user-circle icon"></i>Registrarse</a></div>
               <div><a class="box"href="/login"> <i class="fas fa-user-circle icon"></i>Iniciar Sesión</a></div>
               <div><a class="box"href="/products"><i class="fas fa-wine-bottle icon"></i>Productos</a></div>
               <div><a class="box"href="/cart"><i class="fas fa-shopping-cart icon"></i>Carrito</a></div>
          </nav>
          <h1></h1>
     </header>

     <main>
       
          
     </main>

     <footer>
          <div>
          
          <ul>
               <li><h4 class="categorias">Categorias</h4></li>
               <li><a class="box"href="/"><i class="fas fa-home icon"></i>Inicio</a></li>
               <li><a class="box"href="/register"><i class="fas fa-user-circle icon"></i>Registrarse</a></li>
               <li><a class="box"href="/login"> <i class="fas fa-user-circle icon"></i>Iniciar Sesión</a></li>
               <li><a class="box"href="/products"><i class="fas fa-wine-bottle icon"></i>Productos</a></li>
               <li><a class="box"href="/cart"><i class="fas fa-shopping-cart icon"></i>Carrito</a></li>

          </ul>
     </div>

     <div>
          <ul  >
               <li><h4 class="Ayuda">Ayuda</h4></li>
               <li><a class="Ayuda" href="#">-Contacto</a></li>
               <li><a class="Ayuda" href="#">-Preguntas Frecuentes</a></li>
               <li><a class="Ayuda" href="#">-Envios</a></li>
               <li><a class="Ayuda" href="#">-Formas de pago</a></li>
               

          </ul>
     </div>

     </footer>
</body>
</html>