<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bienvenido al producto</title>
     <link href="/css/style.css" rel="stylesheet">
</head>
<body>
     <header>
          <div class="encabezado"> <img class ="img" src="/img/Boceto-Logo1.jpg" alt="Site logo"> </div>
          <nav class="main-nav">
               <div><a href="/">Inicio</a></div>
               <div><a href="/register">Registrarse</a></div>
               <div><a href="/login">Iniciar Sesión</a></div>
               <div><a href="/products">Productos</a></div>
               <div><a href="/cart">Carrito</a></div>
          </nav>
          <h1>Productos</h1>
     </header>
</body>
</html>