<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bienvenido al registro</title>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <link href="/css/style.css" rel="stylesheet">
     
</head>
<body>
     <header>
          <div class="encabezado"> <img class ="img" src="/img/Boceto-Logo1.jpg" alt="Site logo"> </div>
          <nav class="main-nav">
               <div><a href="/">Inicio</a></div>
               <div><a href="/register">Registrarse</a></div>
               <div><a href="/login">Iniciar Sesión</a></div>
               <div><a href="/products">Productos</a></div>
               <div><a href="/cart">Carrito</a></div>
          </nav>
          <h1>Registrarse</h1>
     </header>

     <main>
          <form class="login" action="views/home.html" method="POST">
               <h3>Crear una cuenta</h3>
               <label for="Usuario">Usuario</label><br>
               <input type="email" name="Usuario"> <br>
               <label for="Contraseña">Contraseña</label><br>
               <input type="password" name="Contraseña"><br>
               <label for="Contraseña">Repetir contraseña</label><br>
               <input type="password" name="Contraseña"><br>
               <label for="Telefono">Telefono</label><br>
               <input type="text" name="Contraseña"><br>
               <input class="boton"type="submit" value="Ingresar">
               </form>
               <div class="recompensas">
                    <h1>Comprar como cliente nuevo</h1>
                    <p>Crear una cuenta tiene muchos beneficios</p>
                    <ul>
                         <li>Ver el estado de una orden y su envío</li>
                         <li>Rastrear su historial de órdenes</li>
                         <li>Ordenar más rápido</li>
                         <li>Descuentos exclusivos</li>
                    </ul>
               </div>

               

     </main>
   

   

     <footer>
          
     </footer>
     
</body>
</html>