<footer>
     
     <div>
     
     <ul>
          <li><h4 class="categorias">Categorias</h4></li>
          <li><a class="box"href="/"><i class="fas fa-home icon"></i>Inicio</a></li>
          <li><a class="box"href="/register"><i class="fas fa-user-circle icon"></i>Registrarse</a></li>
          <li><a class="box"href="/login"> <i class="fas fa-user-circle icon"></i>Iniciar Sesión</a></li>
          <li><a class="box"href="/products/all"><i class="fas fa-wine-bottle icon"></i>Productos</a></li>
          <li><a class="box"href="/products/cart"><i class="fas fa-shopping-cart icon"></i>Carrito</a></li>

     </ul>
</div>

<div>
     <ul  >
          <li><h4 class="Ayuda">Ayuda</h4></li>
          <li><a class="Ayuda" href="#">-Contacto</a></li>
          <li><a class="Ayuda" href="#">-Preguntas Frecuentes</a></li>
          <li><a class="Ayuda" href="#">-Envios</a></li>
          <li><a class="Ayuda" href="#">-Formas de pago</a></li>
          

     </ul>
</div>

</footer>