<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bienvenido al login</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <link href="/css/style.css" rel="stylesheet">
     
</head>
<body>
<header>
     <div class="encabezado"> <img class ="img" src="/img/Boceto-Logo1.jpg" alt="Site logo"> </div>
     
          
     
</header>

<main> 
     <form class="login" action="views/home.html" method="POST">
     <h3>Inicio de Sesion</h3>
     <label for="Usuario">Usuario</label><br>
     <input type="email" name="Usuario"> <br>
     <label for="Contraseña">Contraseña</label><br>
     <input type="password" name="Contraseña"><br>
     <input class="checkbox" type="checkbox" name="pregunta" value="Recordar">Recordar cuenta <br>
     <p></p><a class="clave" href="#">¿Olvidaste tu contraseña?</a></p>
     <input type="submit" value="Ingresar">
     </form>
     
     
</main>


<footer>

</footer>
     
</body>
</html>