<!DOCTYPE html>
<html lang="en">

     <%- include("./partials/head")%>

<body>

     <%- include("./partials/header")%>

     <main>
          <article class="cart-main-article">
               <article class="cart-subarticle-producto">
                    <h2>Producto</h2>
                    <div> <img class="img" src="/img/Vino.png" alt="Product logo"> </div>
                    <p>Vino Fond De Cave</p>
               </article>
               <article class="cart-subarticle-cantidad">
                    <h2>Cantidad</h2>
                    <form action="" method="get">
                         <label for="cantidad"></label>
                         <input type="number" id="cantidad" name="cantidad">
                    </form>
               </article>
               <article class="cart-subarticle-precio">
                    <h2>Precio</h2>
                    <p>$450</p>
               </article>
               <article class="cart-subarticle-subtotal">
                    <h2>Subtotal</h2>
                    <p>$450</p>                    
               </article>
               <article class="cart-subarticle-eliminar">
                    <a href="#"> <img class="cart-subarticle-eliminar-img" src="/img/Tacho.png" alt="Delete logo"> </a>                    
               </article>
          </article>

          <article class="cart-main-article">
               <article class="cart-subarticle-producto">
                    <h2>Producto</h2>
                    <div> <img class="img" src="/img/Whisky.png" alt="Product logo"> </div>
                    <p>Whisky Jack Daniels</p>
               </article>
               <article class="cart-subarticle-cantidad">
                    <h2>Cantidad</h2>
                    <form action="" method="get">
                         <label for="cantidad"></label>
                         <input type="number" id="cantidad" name="cantidad">
                    </form>
               </article>
               <article class="cart-subarticle-precio">
                    <h2>Precio</h2>
                    <p>$800</p>
               </article>
               <article class="cart-subarticle-subtotal">
                    <h2>Subtotal</h2>
                    <p>$800</p>                    
               </article>
               <article class="cart-subarticle-eliminar">
                    <a href="#"> <img class="cart-subarticle-eliminar-img" src="/img/Tacho.png" alt="Delete logo"> </a>                    
               </article>
          </article>
          <article class="resumen">
               
          </article>
     </main>

     <%- include("./partials/footer")%>
     
</body>
</html>