<!DOCTYPE html>
<html lang="en">

     <%- include("../partials/head")%>    

<body>
     
     <%- include("../partials/header")%>

     <main>
          <section class="products-container1">
               <article class="products-main-article1">

                    <article class="products-subarticle-img">
                         <img style="width: 300px; height: 300px;" src="/img/johnnie-walker-green-label.jpg">
                    </article>

                    <article class="products-subarticle-productdata ">
                         <article class="d-flex justify-center">
                              <h3> Johnnie Walker Green Label 750 ml</h3>
                              <p class="products-font-cantidad">(55 disponibles)</p>
                         </article>
                         <article>
                              <h4 class="products-font-precio">$ 5499,99 </h4>
                              <p><i class="far fa-credit-card icon-blue"></i> Pagá hasta en 12 cuotas</p>
                              <p style="margin-right: 28px; margin-bottom: 24px;"><i
                                        class="fas fa-truck truckicon icon-blue"></i>Envíos a todo el país</p>
                              <input type="submit" value="Comprar">
                         </article>
                    </article>

               </article>
          </section>

          <section>
               <article>
                    <h2>Descripción </h2>
                    <p style="font-size: 17px;">
                         El sabor único de Johnnie Walker Green Label es una delicada combinación de cuatro estilos de
                         firma clave, representados
                         por Talisker, Linkwood, Cragganmore y Caol Ila. Las características individuales de estos
                         whiskies maduros de malta
                         están perfectamente equilibradas para reunir aromas a pasto crujiente, fruta fresca, humo de
                         leña, pimienta, vainilla
                         profunda y sándalo. Crea una profundidad de carácter que simplemente no es posible lograr con
                         un solo whisky de malta.
                    </p>
               </article>
          </section>
     </main>
     
     <%- include("../partials/footer")%>

</body>

</html>