<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bienvenido al producto</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
     <link href="/css/style.css" rel="stylesheet">
</head>

<body>
     <header>
          <div class="encabezado"> 
               <img class="img" src="/img/drinkstorelogo4.png" alt="Site logo"> 
               <input class="search" type="search" placeholder="Buscar Productos y Mas">
              
               </div> 
          </div>
          <nav class="main-nav">
               <div><a class="box"href="/"><i class="fas fa-home icon"></i>Inicio</a></div>
          <div><a class="box"href="/register"><i class="fas fa-user-circle icon"></i>Registrarse</a></div>
          <div><a class="box"href="/login"> <i class="fas fa-user-circle icon"></i>Iniciar Sesión</a></div>
          <div><a class="box"href="/products"><i class="fas fa-wine-bottle icon"></i>Productos</a></div>
          <div><a class="box"href="/cart"><i class="fas fa-shopping-cart icon"></i>Carrito</a></div>
          </nav>
          <h1>Productos</h1>
     </header>

     <main>
          <section class="products-container1">
               <article class="products-main-article1">

                    <article class="products-subarticle-img">
                         <img style="width: 300px; height: 300px;" src="/img/johnnie-walker-green-label.jpg">
                    </article>

                    <article class="products-subarticle-productdata ">
                         <article class="d-flex justify-center">
                              <h3> Johnnie Walker Green Label 750 ml</h3>
                              <p class="products-font-cantidad">(55 disponibles)</p>
                         </article>
                         <article>
                              <h4 class="products-font-precio">$ 5499,99 </h4>
                              <p><i class="far fa-credit-card icon-blue"></i> Pagá hasta en 12 cuotas</p>
                              <p style="margin-right: 28px; margin-bottom: 24px;"><i
                                        class="fas fa-truck truckicon icon-blue"></i>Envíos a todo el país</p>
                              <input type="submit" value="Comprar">
                         </article>
                    </article>

               </article>
          </section>

          <section>
               <article>
                    <h2>Descripción </h2>
                    <p style="font-size: 17px;">
                         El sabor único de Johnnie Walker Green Label es una delicada combinación de cuatro estilos de
                         firma clave, representados
                         por Talisker, Linkwood, Cragganmore y Caol Ila. Las características individuales de estos
                         whiskies maduros de malta
                         están perfectamente equilibradas para reunir aromas a pasto crujiente, fruta fresca, humo de
                         leña, pimienta, vainilla
                         profunda y sándalo. Crea una profundidad de carácter que simplemente no es posible lograr con
                         un solo whisky de malta.
                    </p>
               </article>
          </section>
     </main>
     <footer>
          <div>
     
               <ul>
                    <li>
                         <h4 class="categorias">Categorias</h4>
                    </li>
                    <li><a class="box" href="/"><i class="fas fa-home icon"></i>Inicio</a></li>
                    <li><a class="box" href="/register"><i class="fas fa-user-circle icon"></i>Registrarse</a></li>
                    <li><a class="box" href="/login"> <i class="fas fa-user-circle icon"></i>Iniciar Sesión</a></li>
                    <li><a class="box" href="/products"><i class="fas fa-wine-bottle icon"></i>Productos</a></li>
                    <li><a class="box" href="/cart"><i class="fas fa-shopping-cart icon"></i>Carrito</a></li>
     
               </ul>
          </div>
     
          <div>
               <ul>
                    <li>
                         <h4 class="Ayuda">Ayuda</h4>
                    </li>
                    <li><a class="Ayuda" href="#">-Contacto</a></li>
                    <li><a class="Ayuda" href="#">-Preguntas Frecuentes</a></li>
                    <li><a class="Ayuda" href="#">-Envios</a></li>
                    <li><a class="Ayuda" href="#">-Formas de pago</a></li>
     
     
               </ul>
          </div>
     
     </footer>

</body>

</html>