<!DOCTYPE html>
<html lang="en">
     
     <%- include("./partials/head")%>  

<body>
     
     <%- include("./partials/header")%>

     <main>
          <h2 class="titulo-1">-Nuestras Marcas-</h2>
               <div class="NuestrasMarcas">

               <img class="Marcas"src="/img/smirnoff.jpg" alt="">
               <img class="Marcas" src="/img/gancia.png" alt="">
               <img class="Marcas" src="/img/Absolut-logo.png" alt="">
               <img class="Marcas" src="/img/Heineken-logo.png" alt="">
               <img class="Marcas" src="/img/Johnnie-Walker-logo.png" alt="">
               <img class="Marcas" src="/img/fernet-logo.png" alt="">
               <img class="Marcas" src="/img/campari-logo.png" alt="">
          
               </div>

          

             <h2 class="titulo-1">-Nuestras Bodegas-</h2>
             
                 <div class="NuestrasMarcas">
               
               <img class="Marcas"src="/img/bodegasLagarde.png" alt="">
               <img class="Marcas" src="/img/bodegasLopez.png" alt="">
               <img class="Marcas" src="/img/bodegasNorton.jpg" alt="">
               <img class="Marcas" src="/img/bodegasRutini.png" alt="">
               <img class="Marcas" src="/img/bodegasSantajulia.png" alt="">
               <img class="Marcas" src="/img/bodegasTrapiche.jpg" alt="">
               <img class="Marcas" src="/img/chandonBodega.jpg" alt="">

                 </div>

            

             

             <h2 class="titulo-1">-Productos destacados-</h2>

             <section class="home-products-flex">
                  <div class="articulo">
                       <article >
                            <img class="home-products" src="/img/Producto Smirnoff.jpg" alt="">
                            <p class="precios"><i class="fas fa-dollar-sign"></i>399,99<i class="fas fa-truck"></i></p>
                            

                       </article>
                  </div>

                  <div class="articulo">
                       <article>
                         <img class="home-products" src="/img/ProductoAbsolut.jpg" alt="">
                         <p class="precios"><i class="fas fa-dollar-sign"></i>1199,99<i class="fas fa-truck"></i></p>

                          </article>
                  </div>
                  <div class="articulo">
                       <article>
                         <img class="home-products" src="/img/ProductoFernet.jpg" alt="">
                         <p class="precios"><i class="fas fa-dollar-sign"></i>499,99<i class="fas fa-truck"></i></p>


                       </article>
                  </div>
                  <div class="articulo">
                       <article>
                         <img class="home-products" src="/img/ProductoHeineken.jpg" alt="">
                         <p class="precios"><i class="fas fa-dollar-sign"></i>469,99<i class="fas fa-truck"></i></p>


                       </article>
                  </div>
                  <div class="articulo"> 
                       <article>
                         <img class="home-products" src="/img/ProductoRedLabel.jpg" alt="">
                         <p class="precios"><i class="fas fa-dollar-sign"></i>1499,99<i class="fas fa-truck"></i></p>


                       </article>
                  </div>
                  <div class="articulo">
                       <article>
                         <img class="home-products" src="/img/ProductoJack.jpg" alt="">
                         <p class="precios"><i class="fas fa-dollar-sign"></i>3799,99<i class="fas fa-truck"></i></p>


                       </article>
                  </div>

             </section>

                  <h2 class="titulo-1">-Ofertas-</h2>
                  <section class="home-products-flex">
                  <div class="articulo">
                       <article>
                            <img class="home-products" src="/img/OfertaCocaCola.webp" alt="">
                            <p class="precios"><i class="fas fa-dollar-sign"></i>799,99<i class="fas fa-truck"></i></p>

                       </article>
                  </div>
                  <div class="articulo">
                       <article>
                            <img class="home-products" src="/img/OfertaGancia.webp" alt="">
                            <p class="precios"><i class="fas fa-dollar-sign"></i>249,99<i class="fas fa-truck"></i></p>

                       </article>
                  </div>
                  <div class="articulo">
                       <article>
                            <img class="home-products" src="/img/OfertaSpeed.webp" alt="">
                            <p class="precios"><i class="fas fa-dollar-sign"></i>799,99<i class="fas fa-truck"></i></p>

                       </article>
                  </div>
                  <div class="articulo">
                       <article>
                            <img class="home-products" src="/img/OfertaBeefeater.webp" alt="">
                            <p class="precios"><i class="fas fa-dollar-sign"></i>1699,99<i class="fas fa-truck"></i></p>

                       </article>
                  </div>
                  <div class="articulo">
                       <article>
                            <img class="home-products" src="/img/OfertaJager.webp" alt="">
                            <p class="precios"><i class="fas fa-dollar-sign"></i>1799,99<i class="fas fa-truck"></i></p>

                       </article>
                  </div>
                  <div class="articulo">
                       <article>
                            <img class="home-products" src="/img/OfertaCampari.webp" alt="">
                            <p class="precios"><i class="fas fa-dollar-sign"></i>299,99<i class="fas fa-truck"></i></p>

                       </article>
                  </div>
             </section>

             



          

          
       
          
     </main>
   

     <%- include("./partials/footer")%>
     

</body>
   
</body>

</body>
</html>