<!DOCTYPE html>
<html lang="en">
     
     <%- include("../partials/head")%>  

<body>
     
     <%- include("../partials/header")%>

     <main>
          <h1 class="Titulo2">Registrate</h1>
          <form class="registro" action="views/home.html" method="POST">
               
               <label for="Usuario">Usuario</label><br>
               <input type="email" name="Usuario"> <br>
               <label for="Contraseña">Contraseña</label><br>
               <input type="password" name="Contraseña"><br>
               <label for="Contraseña">Repetir contraseña</label><br>
               <input type="password" name="Contraseña"><br>
               <label for="Telefono">Telefono</label><br>
               <input type="text" name="Contraseña"><br>
               <input class="boton"type="submit" value="Registrarse">
               </form>
               <div class="recompensas">
                    <h1>Comprar como cliente nuevo</h1>
                    <p>Crear una cuenta tiene muchos beneficios</p>
                    <ul>
                         <li>Ver el estado de una orden y su envío</li>
                         <li>Rastrear su historial de órdenes</li>
                         <li>Ordenar más rápido</li>
                         <li>Descuentos exclusivos</li>
                    </ul>
               </div>

               

     </main>
   

   

     <%- include("../partials/footer")%>
     
</body>
</html>